/* External CSS */
@import url("/css/fonts.css");
@import url("/css/reset.css");

/* header */

.header-text {
  text-align: center;
  font-size: 1.5rem;
}

header.header {
  /* border: 5px solid black; */
  box-shadow: 1rem;
}

.header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul.header {
  gap: 1rem;
}

/* body */

body {
  height: 93.5svh;
}

#main-div {
  background-color: rgb(10, 230, 230);
  width: 100%;
  height: 100%;
}

#Cupcake {
  width: 100%;
}

#Cupcake > ul {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  font-size: 80px;
  font-weight: bold;
  color: #ff007f;
  text-shadow: 10px 10px 0px #00bfff;
}
